@import "tailwindcss";

@theme {
  --color-bg-dark: #0d0e12;
  --color-card-dark: #16171d;
  --color-accent-purple: #c084fc;
  --color-border-dark: #2e303a;
}

@layer base {
  html, body, #root {
    margin: 0;
    padding: 0;
    min-height: 100vh; 
    background-color: var(--color-bg-dark);
    color: white;
    font-family: 'Inter', sans-serif;
  }

  ::-webkit-scrollbar { width: 10px; }
  ::-webkit-scrollbar-track { background: #0b0e14; }
  ::-webkit-scrollbar-thumb {
    background: #1f2937;
    border-radius: 5px;
    border: 2px solid #0b0e14;
  }
  ::-webkit-scrollbar-thumb:hover { background: #22d3ee; }
}